body{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    margin: 0;
    color: rgb(172, 168, 168);
    max-width: 3000px;
    
   
     
}

ul{
    padding: 0%;
    list-style-type: none;
}
/* typography */
.headers{
    font-weight: 700;
    color: #000;
}
.k{
    text-align: center;
}
.i{
    max-width: 100%;
}

.flex{
    display: flex;
}



/* importants */
.row{
    margin: 0;
}


.page-width{
    margin: 0 auto;
    width: 80%;
    padding: 3% 0;
}

.nav-link{
    margin:0 5px;
}

/* buttons */
.btn-edt{
    background-color: hsl(12, 88%, 59%);
    border-radius: 20px;
    color: white;
    
}

/* testimonials */

.testi-head{
    text-align: center;
    margin: 10em 0;
}

.c-items{
    text-align: center;
    background-color: hsl(0, 11%, 91%);
    border-radius: 10px;
    padding: 1% 3%;
}

.c-img{
    max-width: 130px;
  
}
    
    /* main-started */
    .main-started{
    background-color: hsl(12, 88%, 59%);
    color:#fff;
    background-image: url("images/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.div-right{
    text-align: right;
}

.btn-str{
    color:hsl(12, 88%, 59%) ;
     background-color: #fff;
     border-radius: 20px;
}

.main-footer{
    background-color: hsl(233, 12%, 13%);
}
.btn-foot{
    color: white;
    background-color:hsl(12, 88%, 59%) ;
    border-radius: 30px;
}

.icn-wrap{
    margin-top: 3em;
}

.icns-edt{
    margin: 5px;
}

.ft-nv{
    margin-top:10px ;
}
.links{
    color: white;
    
}

.links:hover{
    color:hsl(12, 88%, 59%) ;
    text-decoration: none;
}

#caution{
    color: red;
}

@media(max-width:990px){
    body{
        text-align: center;
    }
    .div-right{
        text-align: center;
    }
}